header nav {
    display: flex;
    justify-content: space-around;
    color: #f8f8ff;
}

header { 
    grid-area: header;
    background-color: #2e3440;
    padding: 15px;
    font-weight: 800;
    font-family: "Poppins";
}

menu {
    grid-area: menu;
    background-color: #3b4252;
    padding: 25px;
    line-height: 33px;
    display: flex;
    justify-content: center;
}

main {
    grid-area: main;
    background-color: #4c566a;
    padding: 15px;
    font-size: 22px;
    text-align: center;
}

body {
    display: grid;
    grid-template: 
        'header header header header' min-content
        'menu main main main' auto
        / 25% 75%;
    font-size: 25px;
    color:#f8f8ff;
    font-family: "Poppins";
    width: auto;
    height: auto;
    min-height: 100vh;
    margin: 0%;
}

a {
    color:#f8f8ff;
}