header nav {
    display: flex;
    justify-content: space-around;
    color: #f8f8ff;
}

header a {
    color: #f8f8ff;
    text-decoration: none;
    transition: .2s ease-in-out 0s;
}

header a:active {
    color: dimgrey;
    font-weight: bold;
    transform: scale(0.98);
}

header a:hover {
    transform: scale(1.02);
}

header { 
    grid-area: header;
    background-color: #2e3440;
    padding: 15px;
    font-weight: 600;
    font-family: "Poppins";
}

footer nav {
    text-align: right;
}

footer img {
    height: 28px;
    width: 28px;
    margin-left: 4px;
}

footer {
    grid-area: footer;
    background-color: #3b4252;
    text-align: left;
    padding: 5px;
    font-size: 12px;
}

main {
    grid-area: main;
    background-color: #4c566a;
    padding: 15px;
    font-size: 22px;
    text-align: center;
}

body {
    display: grid;
    grid-template: 
        'header header header header' min-content
        'main main main main' auto
        'footer footer footer footer' min-content
        / 25% 75%;
    font-size: 25px;
    color:#f8f8ff;
    font-family: "Poppins";
    width: auto;
    height: auto;
    min-height: 100vh;
    margin: 0;
}

a {
    color:#f8f8ff;
}