header nav {
    display: flex;
    justify-content: space-around;
    color: #f8f8ff;
}

header a {
    color: #dbe9f4;
    text-shadow: 1px 1.5px #000000be;
    text-decoration: none;
    transition: .2s ease-in-out 0s;
}

header a:active {
    color: dimgrey;
    font-weight: bold;
    transform: scale(0.98);
    transition: .3s ease-in-out 0s;
}

header a:hover {
    transform: scale(1.02);
}

header { 
    grid-area: header;
    background-color: #2e3440;
    padding: 15px;
    font-weight: 600;
    font-family: "Poppins";
}

footer nav {
    text-align: right;
}

footer img {
    height: 28px;
    width: 28px;
    margin-left: 4px;
}

.footertext {
    text-align: left;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: footer;
    background-color: #3b4252;
    padding: 10px 20px 10px 20px;
    line-height: 0px;
    font-size: 18px;
}

.portfolio a {
    color: #faebd7;
    font-weight: bolder;
}

main h4 {
    line-height: 0px;
    font-weight: 700;
    font-style: italic;
    color: #dcdcdc;
}

main p {
    margin-bottom: 40px;
}
    
main {
    grid-area: main;
    background-color: #4c566a;
    padding: 15px;
    font-size: 22px;
    text-align: center;
    line-height: 1.2;
    font-family: "Quicksand";
    font-weight: 500;
    /* overflow-y: scroll;
    scrollbar-color: #606060 #393939;
    scrollbar-width: 8px;
    scrollbar-track-color: #2e3440; */
}

body {
    display: grid;
    grid-template: 
        'header header header header' min-content
        'main main main main' auto
        'footer footer footer footer' min-content
        / 25% 75%;
    font-size: 25px;
    color:#f8f8ff;
    font-family: "Poppins";
    width: auto;
    height: auto;
    min-height: 100vh;
    margin: 0;
}

a {
    color:#f8f8ff;
}

html {
    overflow: auto;
    scrollbar-color: #606060 #393939;
}