---
import Navbar from "../components/Layout/NavBar.vue";
// import Main from "../components/Layout/Main.vue";
import EmailToggle from "../components/Email/EmailToggle.vue";
import EmailForm from "../components/Email/EmailForm.vue";

import Introduction from "../components/Main/Introduction.vue";
import WorkExperience from "../components/Main/WorkExperience.vue";
import Projects from "../components/Main/Projects.vue";
import Skills from "../components/Main/Skills.vue";
import Footer from "../components/Layout/Footer.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Benji's portfolio" />
    <title>Portfolio</title>
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <!-- Embed support -->
    <meta content="Benji's Portfolio" property="og:title" />
    <meta content="Hello!" property="og:description" />
    <meta content="https://portfolio.benji.foo" property="og:url" />
    <meta content="/icon.jpg" property="og:image" />
    <meta content="#dcdcdc" data-react-helmet="true" name="theme-color" />

    <!-- Analytics -->
    <script defer src="https://cloud.umami.is/script.js" data-website-id="7c18c0da-ab5b-496f-95b7-8b49536d3d6b"></script>
  </head>
  <body>
      <!-- Site components -->
    <main class="flex flex-1 flex-col justify-start overflow-y-scroll overflow-x-hidden text-white min-h-screen min-w-screen bg-with-img">
      <Introduction id="home" />
      <!-- Page components -->
      <!-- <div class="py-8 flex flex-col justify-start bg-gradient-to-t from-black via-black/90 to-black/40"> -->
      <div class="py-8 flex flex-col justify-start bg-black/40">

        <WorkExperience id="work-experience" />
        <Projects id="projects" />
        <Skills id="skills" />
      </div>
      <!-- Footer -->
      <Footer />

      <EmailToggle />
      <EmailForm id="email-form" />
      <Navbar />
    </main>
  </body>
</html>

<style>
  .bg-with-img {
    background-image: url("/backgrounds/pages.jpg");
    background-size: cover;
    background-position: center;

    /*  this is where the magic happens:  */
    background-attachment: fixed;
  }

  #email-form {
    pointer-events: none;
    opacity: 0;
  }

  #email-form:target {
    pointer-events: all;
    opacity: 1;
  }
</style>